// import variables
@import 'modules/vars';

// add styling

.boxhelper {
    background-color: black;
    color: white;
    text-align: center;
}

.hide {
    display: none;
}

#mainHeader {
    background-color: $purple;
    height: 50px;
    p {
        margin-top: 13px;
    }
}

#featured-section {
    height: 215px;
    p {
        height: 213px;
        line-height: 180px;
    }
}

.movie {
    height: 215px;
    margin-top: 5px;
    p {
        height: 213px;
        line-height: 213px;
    }
}

#mainFooter {
    background-color: $grey;
    margin-top: 5px;
}

#copyright {
    p {
        text-align: center;
        color: white;
    }
}


// Login Page

.login {
    background-color: $purple;
    height: 900px;
}

#login-form-container {
    background-color: white;
    margin-top: 100px;
}

#login-form {
    margin-top: 15px;
}

//media queries

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #mainHeader {
        height: 70px;
    }
}



